<%= link_to 'Index', stocks_index_path %>

<h1>Stock performance over past 4 Weeks</h1>
<p>Price at beginning: $<%= @charts[0]['close'] %></p>
<p>Price at end: $<%= @charts[-1]['close'] %></p>
<% data = {} %>
<% @charts.map do |item| %>
  <% data[item['date']] = item['changePercent'] %>
  <% end %>
  <p>Percentage Change in stock price between opening and closing prices per day</p>
<%= line_chart  data, colors: ["green"]  %>
