// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#logo {
  font-size: 1.8em;
}

.jumbotron {
  background-image: asset-url('stocksimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center {
  text-align: center;
}

a img {
  width: 250px;
  float: right;
  border: solid 3px lightgray;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

a img:hover {
  transform: scale(1.05);
}

#name {
  color: red;
}

.label-title {
  font-weight: bold;
  font-size: 1.5em;
}

table, td {
  padding: 10px;
}

th {
  background-color: red;
  color: white;
  font-size: 1.5em;
  border: solid 5px black;
}

.headline {
  font-weight: bold;
}

.date {
  min-width: 80px;
}

ul li {
  font-size: 1.5em;
}
